.oneforall {
  background-color: rgba(156, 255, 156, 0.623);
  width: 1000px;
  margin: 30px auto;
  padding: 1px 10px 10px;
}

body {
  text-align: center;
  font-family: Tahoma, Helvetica, Arial, sans-serif;
}